/*COLOUR PALETTE
Dark sienna: #2e0014
Magenta dye: #d30c7b
Light coral: #f29191
Tea green: #bee7b8
Honeydew: #ddf8e8
light grey: #e1d4cb
*/

/* Navigation bar  */

.nav-heading {
  margin: left;
  color: #2e0014;
  font-size: 20px;
  padding-top: 5px;
  font-family: "Raleway", sans-serif;
}
.nav-link {
  color: #2e0014;
  margin: 0 20px 0 20px;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
.nav-item {
  border-left: #ddf8e8 solid 1px;
  text-align: center;
}

.nav-link:hover {
  color: white;
  border: none;
}
.brand {
  font-family: "Cinzel", serif;
  font-size: 18px;
  margin: 3px;
  color: #2e0014;
}
.brand:hover {
  color: white;
}
.nav-tabs,
.nav-link,
.nav-item,
.nav-item.show,
.nav-link.active {
  background-color: #f29191 !important;
  margin-bottom: 0px !important;
}
.nav-link.active {
  border: none;
  color: #e1d4cb !important;
}

.nav-tabs {
  border: none;
}
.icon-home {
  width: 40px;
  height: 40px;
}
