/*COLOUR PALETTE
Dark sienna: #2e0014
Magenta dye: #d30c7b
Light coral: #f29191
Tea green: #bee7b8
Honeydew: #ddf8e8
*/
.container-contact {
  width: 500px;
  margin: auto;
  padding: 20px;
}

form {
  background-color: #e1d4cb;
  padding: 45px 25px 25px 25px;
  margin: auto;
  border-radius: 30px;
}
input {
  width: 500px;
  margin: auto;
  margin: 10px;
  padding: 5px;
  border: none;
}
textarea {
  height: 100px;
  margin: auto;
  margin: 10px;
  width: 500px;
  padding: 5px;
  border: none;
}
.submit {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
