/*COLOUR PALETTE
Dark sienna: #2e0014
Magenta dye: #d30c7b
Light coral: #f29191
Tea green: #bee7b8
Honeydew: #ddf8e8
light grey: #e1d4cb
*/
.container-contact {
  width: 500px;
  margin: auto;
  padding: 20px;
}

.heading-contact {
  font-size: 25px;
  font-family: "Cinzel", serif;
  text-align: center;
  display: inline-block;
  margin: auto;
}

form {
  background-color: #e1d4cb;
  padding: 30px 25px 25px 25px;
  margin: auto;
  border-radius: 30px;
}
input {
  width: 500px;
  margin: auto;
  margin: 10px;
  padding: 5px;
  border: none;
}
textarea {
  height: 100px;
  margin: auto;
  margin: 10px;
  width: 500px;
  padding: 5px;
  border: none;
}
.submit {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-family: "Cinzel", serif;
}
.icon-contact {
  height: 50px;
  width: 50px;
  /* display: inline-block; */
  margin-left: 20px;
  margin-bottom: 20px;
}
