/*COLOUR PALETTE
Dark sienna: #2e0014
Magenta dye: #d30c7b
Light coral: #f29191
Tea green: #bee7b8
Honeydew: #ddf8e8
light grey: #e1d4cb
*/
body {
  background-color: #ddf8e8;
}
.jumbotron {
  background-image: url(./assets/jumbotron_1920x780.jpg);
  background-repeat: no-repeat;
  height: 70vh;
}
.heading-home {
  color: #2e0014;
  font-weight: bold;
  font-size: 35px;
  font-family: "Cinzel", serif;
  display: inline-block;
}
.home-text {
  color: #2e0014;
  font-size: 26px;
  font-family: "Raleway", sans-serif !important;
  /* font-family: "Norican", cursive; */
}
.icon-face {
  height: 70px;
  width: 70px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
}
.btn-see {
  padding: 7px;
  background-color: #ddf8e8;
  color: #d30c7b;
  width: 150px;
  font-size: 25px;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  border: solid #bee7b8 3px;
}
.btn-see-link:hover {
  text-decoration: none;
  color: #d30c7b;
}
.img1,
.img2,
.img3 {
  height: 600px;
}
.carousel-subtitle {
  font-size: 45px;
}
.carousel-heading {
  margin-bottom: 20px;
}
.carousel-subtitle {
  margin-bottom: 50px;
}
