/*COLOUR PALETTE
Dark sienna: #2e0014
Magenta dye: #d30c7b
Light coral: #f29191
Tea green: #bee7b8
Honeydew: #ddf8e8
light grey: #e1d4cb
*/

.footer {
  background-color: white;
  width: 100%;
  font-family: "Raleway", sans-serif;
  color: #d30c7b;
  padding: 10px;
}
.footer-link {
  color: #d30c7b;
  margin-left: 0px;
}
.footer-title {
  font-family: "Cinzel", serif;
  color: #2e0014;
}

.links-list {
  list-style-type: none;
}

/* Links to App.js and styles the 'body' of the React application to enable the footer to be sticky */
:root {
  --space: 1.5em 0;
  --space: 2em 0;
}

.app-site {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  /* usually this would be 100vh */
}

.site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.site-content:after {
  content: "\00a0";
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
}

/* .page-container {
  position: relative;
  min-height: 50vh;
}
.footer-link {
  color: #d30c7b;
}

.content-wrap {
  position: absolute;
  min-height: 50vh;
  /* padding-bottom: 3rem; */
