.container-login {
  min-width: fit-content;
}

.loginForm {
  border-radius: 30px;
  min-width: fit-content;
}

.signupBtn {
  display: inline !important;
  margin-left: 30px;
  color: white;
}

.signupText {
  display: inline;
}

.Signup {
  color: white;
}
